services:
  bot:
    image: denoland/deno:2.6.10
    container_name: matrix-bot-dev
    working_dir: /app
    entrypoint:
      - sh
      - -c
      - >
        deno install --allow-scripts=npm:@matrix-org/matrix-sdk-crypto-nodejs@0.4.0
        && exec deno run --watch --allow-all --env-file main.ts
    env_file: .env
    environment:
      - BOT_DATA_DIR=/data
      - BOT_LOG_LEVEL=debug
    volumes:
      - .:/app
      - dev-data:/data
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
        - action: sync
          path: ./main.ts
          target: /app/main.ts
        - action: rebuild
          path: deno.json
        - action: rebuild
          path: deno.lock

  test:
    image: denoland/deno:2.6.10
    container_name: matrix-bot-test
    working_dir: /app
    profiles: ["test"]
    entrypoint:
      - sh
      - -c
      - >
        deno install --allow-scripts=npm:@matrix-org/matrix-sdk-crypto-nodejs@0.4.0
        && exec deno test --allow-all
    volumes:
      - .:/app

volumes:
  dev-data:
