services:
  bot:
    image: ghcr.io/tjallo/matrix-bot-js:latest
    container_name: matrix-bot
    restart: unless-stopped
    env_file: .env
    volumes:
      - bot-data:/data

volumes:
  bot-data:
